<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<beans:import resource="classpath:coho-service-spring.xml" />

	<http pattern="/resources/**" security="none" />
	
	<http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login*" access="permitAll"/>
        <intercept-url pattern="/403*" access="permitAll"/>
        <intercept-url pattern="/" access="hasAnyRole('AGENT', 'ADMIN')" />
        
        <intercept-url pattern="/dashboard" access="hasAnyRole('AGENT', 'ADMIN')" />
        
        <intercept-url pattern="/user-profile" access="hasAnyRole('AGENT', 'ADMIN')" />
        
        <intercept-url pattern="/leave/create" access="hasRole('AGENT')" />
        <intercept-url pattern="/leave/list" access="hasAnyRole('AGENT', 'ADMIN')" />
        <intercept-url pattern="/leave/get/*" access="hasRole('AGENT')" />
        
        <intercept-url pattern="/get-agent-quick-statistics" access="hasRole('AGENT')" />
        
        <intercept-url pattern="/booking/create" access="hasRole('AGENT')" />
        <intercept-url pattern="/booking/passenger-details" access="hasRole('AGENT')" />
        <intercept-url pattern="/booking/history" access="hasRole('AGENT')" />
        
        <intercept-url pattern="/get-shift-status" access="hasRole('AGENT')" />
        <intercept-url pattern="/start-shift" access="hasRole('AGENT')" />
        <intercept-url pattern="/end-shift" access="hasRole('AGENT')" />
        
        <!-- Admin has access to everything -->
        <intercept-url pattern="/**" access="hasRole('ADMIN')" />
        
		<form-login login-page="/login" login-processing-url="/authenticate"
			default-target-url="/dashboard" authentication-failure-url="/login?error=true"
			username-parameter="userName" password-parameter="password" />

		<logout logout-success-url="/login" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="cohoUserDetailService">
		</authentication-provider>
	</authentication-manager>
</beans:beans>
